@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


body {
  margin: 0;
  font-family: 'New Tegomin', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/bg.jpeg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
