.bodyWrapper {
  display: flex;
  flex-direction: column;
  background: #24292F;
  width: 100%;
  height: 100vh;


}

.containerWrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

}

.containerLeft {
  width: 30%;
  display: flex;
  background-image: url('../../assets/images/logotipo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2D333B;
}

.containerRight {
  width: 70%;
  display: flex;
  flex-direction: column;
  
}

.profileWrapper {}

.reposWrapper {}